.partners {
  height: 300px;
  background-color: #cfd0c3;
}

.text {
  font-family: Bold;
  color: #1c775a;
  text-align: center;
  padding-top: 45px;
  text-decoration: underline;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos img {
  width: 220px;
  padding: 20px;
  filter: grayscale(100%);
  transform: filter 0.25s;
}

img:hover {
  filter: grayscale(0%);
}
