.para {
  height: 50vh;
  width: 100%;

  font-family: Regular;
  font-size: 3em;
  text-align: justify;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  background-color: #1c775a;
  color: #cfd0c3;

  overflow: hidden;
}
